.table {
    width: 95%;
    margin-bottom: 30px;
}

table{
    width: 100%;
    border-radius: 10px;
}

thead {
    background-color: rgba(255, 255, 255, 0.3);
}

th, td {
    text-align: center;
    width: 100px;
    padding: 8px;
}

th {
    width: 50px;
}

td {
    font-size: small;
    text-shadow:
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black; 
  border-color: black;
}

p {
    display: flex;
    flex-direction: column;
}